<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <form action="" method="GET">
        <input type="search" name="book_name">
        <button type="submit">Search</button>
    </form>
    {% for book in book_list %}
        <div class="row row-bordered">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" src="{{ book.book_image }}"/>
            </div>
            <div class="col-md-4">
                <h3 class="name">{{ book.book_name }}</h3>
                <h5>{{ book.book_category }}</h5><h6>{{ book.book_rating }} out of 5 stars</h6>
                <br>
                <p class="description">{{ book.book_description }}</p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'hobby_detail' hob.id %}" class="btn btn-success">Details</a>
            </div>
        </div>
    {% endfor %}

    {% if book_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ book_list.previous_page_number }}">Previous</a>
    {% endif %}

    <p>Page: {{ book_list.number }} of {{ book_list.paginator.num_pages }}</p>

    {% if book_list.has_next %}
        <a href="?page={{ book_list.next_page_number }}">Next</a>
        <a href="?page={{ book_list.paginator.num_pages }}">Last</a>
    {% endif %}
</body>
</html>