body {
    background-color: lavenderblush;
}
nav {
    border-style: solid;
    border-color: black;
}
#bodydiv {
    padding: 20px;
}
#searchbar {
    margin-left: 20px;
}
h1 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 100px;
}
p {
    padding-top: 10px;
    font-family: Helvitica, sans-serif;
}
a {
    color: darkslateblue;
}
img {
    width: 100%;
    height: auto;
}
.info{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.about {
    color: white;
}
.contact{
    color: lightgray;
}
h5.description{
    font-style: italic;
}
div.row-bordered{
    border-style: solid;
    border-color: saddlebrown;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}
input,button{
    color: black;
    background-color: wheat;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: black 4px solid;
}
input[type=button],input[type=submit],button[type=submit]{
    color: black;
    background-color: wheat;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}